# infra/envs/dev/infra/terraform.tfvars
# 민감 정보(db_username, db_password)는 환경변수로 주입
#   export TF_VAR_db_username="matnani"
#   export TF_VAR_db_password="..."

# ──────────── RDS ────────────
db_instance_class      = "db.t3.large"
create_read_replica    = true
replica_instance_class = "db.t3.large"

# ──────────── ElastiCache ────────────
redis_node_type = "cache.t3.micro"
redis_num_nodes = 1
