# infra/envs/prod/infra/terraform.tfvars.example
# 민감 정보(db_username, db_password)는 환경변수로 주입
#   export TF_VAR_db_username="matnani"
#   export TF_VAR_db_password="..."

# ──────────── RDS ────────────
db_instance_class      = "db.t3.large"  # 추후 db.m6i.large 변경 가능
create_read_replica    = false          # true 시 replica_instance_class 필수
replica_instance_class = "db.t3.large"

# ──────────── ElastiCache ────────────
redis_node_type = "cache.t4g.small"  # 가이드: cache.m7g.large
redis_num_nodes = 2
